# Dépendances principales
Python>=3.7

# Scrapy et dépendances
Scrapy>=2.5.0
itemloaders>=1.0.4
itemadapter>=0.4.0
w3lib>=1.22.0
service_identity>=18.1.0

# API FastAPI
fastapi>=0.68.0,<0.69.0
uvicorn>=0.15.0,<0.16.0
sqlalchemy>=1.4.0,<2.0.0
pydantic>=1.8.0,<2.0.0
python-dotenv>=0.19.0,<0.20.0
python-multipart>=0.0.5,<0.0.6

# Autres dépendances utiles
pytest>=6.2.5  # Pour les tests
black>=21.7b0  # Pour le formatage de code
isort>=5.9.3   # Pour le tri des imports
