# Dépendances principales
Python>=3.8

# Scrapy et dépendances
Scrapy>=2.8.0
itemloaders>=2.0.0
itemadapter>=0.7.0
w3lib>=2.0.0
service_identity>=21.1.0

# API FastAPI
fastapi>=0.95.0
uvicorn>=0.21.0
sqlalchemy>=2.0.0
pydantic>=1.10.7
python-dotenv>=1.0.0
python-multipart>=0.0.6

# Authentification et sécurité
passlib[bcrypt]>=1.7.4
python-jose[cryptography]>=3.3.0
python-multipart>=0.0.6

# Base de données
aiosqlite>=0.18.0

# Utilitaires
loguru>=0.7.0  # Pour une meilleure gestion des logs
pytest>=7.3.1  # Pour les tests
black>=23.3.0  # Pour le formatage de code
isort>=5.12.0  # Pour le tri des imports
